header.header
  a.header__logo-link(href="index.html")
    picture
      source(media="(min-width: 1200px)" srcset="@img/header/logo-desktop.svg")
      source(media="(min-width: 768px)" srcset="@img/header/logo-tablet.svg")
      img.header__logo-img(src="@img/header/logo-mobile.svg" width="102" height="84")

  nav.header__nav
    include ../mixins/menu
    button.burger(type="button" aria-label="Show / Close Menu")


  -const classList = activeHref === 'index.html' ? 'intro' : 'intro intro--inner'
  div(class=`${classList}`)
    .intro__welcome
      -if(activeHref === 'index.html')
        img.intro__img(src="@img/header/text-index.svg" width="280px" height="214")
      -else
        img.intro__img(src="@img/header/text-inner.svg" width="229" header="39")
    .intro__text
      .intro__container
        h1.intro__title Седона — небольшой #[br.before-tablet] городок в Аризоне,#[br.after-tablet] заслуживающий большего!
        p.intro__description Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!