section.search
  .search__container
    h2.search__title ЗАИНТЕРЕСОВАЛИСЬ?
    p.search__text Укажите предполагаемые даты поездки,#[br.after-tablet] и мы покажем вам лучшие предложения гостиниц в седоне
    a.button.search__button(href="#") НАЙТИ гостиницу