.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 19px 6.25% 24px;
  border-bottom: 1px solid $basic-neutral;

  &--more {
    padding: 78px 6.25% 24px;
  }

  &--more::before,
  &--more::after {
    position: absolute;
    top: 39px;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    background-color: #d3d3d3;
    content: "";
  }

  &--more::after {
    transform: rotate(90deg);
  }
}

@media (min-width: $tablet-width) {
  .card {
    padding: 81px 0 0;
    border: 0;

    &--more::before,
    &--more::after {
      top: 163px;
      width: 60px;
      margin-left: -30px;
    }
  }
}


.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .card__container {
    align-content: flex-start;
    align-items: flex-start;
    padding: 127px 36px 38px;
    background-color: $basic-light;
  }

  .card--more .card__container {
    border: 2px solid $basic-light;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .card__container {
    padding: 116px 36px  39px;
  }
}

.card__link-img {
  width: 50%;
  height: 112px;
  margin-bottom: 13px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .card__link-img {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 168px;
    height: 200px;
    margin: 0;
    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .card__link-img {
    position: absolute;
    top: 0;
    width: 172px;
    height: 196px;
    margin: 0;
    transform: translateX(-50%);
  }
}

.card__img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.card__inner {
  width: 140px;
}

@media (min-width: $tablet-width) {
  .card__inner {
    width: 100%;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: $font-special;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .card__title {
    padding-top: 34px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .card__title {
    padding-top: 47px;
    padding-left: 5px;
    line-height: 21px;
  }
}

.card__link {
  display: block;
  color: #222222;
  outline: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $basic-spring;
  }

  &:active {
    opacity: 0.3;
  }
}


.card__group {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .card__group {
    margin-top: 21px;
    margin-bottom: 33.5px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .card__group {
    margin-top: 24px;
    margin-left: 3px;
  }
}

.card__row {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .card__row {
    padding: 0 1.5px 7.5px;
    border-bottom: 1px solid $special-light;
  }

  .card__row:not(:first-child) {
    padding-top: 7px;
  }
}


.card__button {
  width: 100%;
  flex-grow: 1;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .card__button {
    width: 248px;
    flex-grow: 0;
    margin: 0 auto;

    .card--more & {
      margin-top: 87px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card__button {
    width: 168px;
  }
}


.card__show-more {
  width: 100%;
  margin-bottom: 8px;
  color: #111111;
  font-family: $font-special;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .card__show-more {
    margin: 32px auto 0;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .card__show-more {
    margin: 41px auto 0;
  }
}

.card__realy {
  width: 100%;
  margin-bottom: 21px;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card__realy {
    margin: 24px auto 0;
    font-size: 16px;
    line-height: 18px;
  }
}
