.control {
  position: relative;
  display: inline-block;
  min-height: 30px;
  padding-left: 45px;

  &:hover .control__mark {
    border-color: #bababa;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.control__input {
  display: none;
}

.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-light;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  .control__input[type="radio"] ~ & {
    border-radius: 50%;
  }

  .control__input[type="radio"]:checked ~ &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 14px;
    background-color: $basic-spring;
    border-radius: 50%;
    content: "";
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }

  .control__input[type="checkbox"]:checked ~ & {
    background-image: url("@img/icons/icons.svg#check-on");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px 14px;
  }
}

.control__text {
  display: block;
  padding-top: 6px;
  color: $special-darker;
  font-family: $font-special;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    font-size: 20px;
    line-height: 30px;
  }
}
