.header {
  position: relative;
  flex-shrink: 0;
}

.header__logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header__logo-img {
  display: block;
}

.header__nav {
  position: relative;
  
}
