.header {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .header {
    width: 1220px;
    margin: 0 auto;
  }
}


@media (min-width: $tablet-width) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    padding: 25.88px 3.9%;
  }
}

@media (min-width: $desktop-width) {
  .header__nav {
    padding: 53px 0;
  }
}

.header__nav--show {
  position: relative;
}

.header__top {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 6.25% 17.39px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .header__top {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .header__top {
    background-color: transparent;
  }
}

.header__title {
  margin-top: 13px;
}

@media (min-width: $tablet-width) {
  .header__title {
    display: none;
  }
}

.header__toggler {
  position: relative;
  width: 24px;
  height: 18px;
  padding: 0;
  border: 0;
  margin-top: 12px;
  margin-left: 9.32px;
  background-color: transparent;
  cursor: pointer;
  outline: 0;

  span,
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #000000;
    content: "";
    opacity: 1;
    transform: translateY(-50%);
    transition: opacity 0.3s, top 0.3s, transform 0.3s;
  }

  &::before {
    top: 0;
    transform: none;
  }

  &::after {
    top: auto;
    bottom: 0;
    height: 2px;
    transform: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  .no-js & {
    visibility: hidden;
  }

  .header__nav--show & {
    span {
      opacity: 0;
    }

    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .header__toggler {
    display: none;
  }
}

.header__menu {
  z-index: 99;
  height: 0;
  // transform: scaleY(0);
  transform: translateY(-1000px);
  transform-origin: 50% 0;
  transition: visibility 0.5s, transform 0.5s ease;
  visibility: hidden;

  .header__nav--show & {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translateY(0);
    visibility: visible;
  }

  .no-js & {
    height: auto;
    transform: none;
    visibility: visible;
  }
}

@media (min-width: $tablet-width) {
  .header__menu,
  .header__nav--show .header__menu {
    position: static;
    width: 62.14%;
    height: auto;
    justify-content: flex-end;
    transform: none;
    visibility: visible;
  }
}

@media (min-width: $desktop-width) {
  .header__menu,
  .header__nav--show .header__menu {
    width: 49.18%;
  }
}

