
.intro__welcome {
  position: relative;
  min-height: 389px;
  background-image: url("@img/header/back-mobile.jpg");
  background-position: center bottom 0;
  background-repeat: no-repeat;
  background-size: 901px 389px;

  @media (min-resolution: 2dppx) {
    background-image: url("@img/header/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 518px;
    background-image: url("@img/header/back-desktop.jpg");
    background-size: 1200px 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("@img/header/back-desktop@2x.jpg");
    }
  }
}

.intro--inner .intro__welcome {
  min-height: 158px;
  background-image: url("@img/header/back-desktop.jpg");

  @media (min-width: $tablet-width) {
    min-height: 290px;
  }
}

.intro__welcome::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url("@img/header/intro-triangle.svg") no-repeat 50% 0;
  content: "";
}

.intro__img {
  display: block;
  width: 280px;
  box-sizing: content-box;
  padding-top: 90px;
  margin: 0 auto;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    padding-top: 77px;
  }
}

.intro--inner .intro__img {
  width: 229px;
  height: 39px;
  padding-top: 52px;

  @media (min-width: $tablet-width) {
    width: 456.9px;
    height: 77.6px;
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    width: 459.5px;
    height: 79.8px;
    padding-top: 101px;
  }
}

.intro__text {
  margin-top: 34px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}

.intro__container {
  padding: 0 6.25%;
}

.intro__title {
  margin: 0;
  color: #000000;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.intro--inner .intro__title {
  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.intro__description {
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  line-height: 26px;
}
