.menu {
  @include reset-list;

  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menu__item {
  border-top: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .menu__item {
    border: 0;
    margin-right: 35px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }
}

.menu__link {
  display: block;
  padding: 22px 22px 23px;
  background-color: #ffffff;
  color: #000000;
  font-family: $font-special;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .menu__link {
    padding: 16px 0 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .menu__link {
    padding-bottom: 8px;
    background-color: transparent;
    font-size: 20px;
    line-height: 30px;
  }

  .menu--index .menu__link {
    color: #ffffff;
  }

  .menu--index .menu__link:hover,
  .menu--index .menu__link:focus {
    color: rgba(#ffffff, 0.6);
  }

  .menu--index .menu__link:active {
    color: rgba(#ffffff, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .menu__link--active {
    position: relative;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $basic-spring;
      content: "";
    }
  }
}

@media (min-width: $desktop-width) {
  .menu--index .menu__link--active {
    &::before {
      background-color: #ffffff;
    }
  }
}
