.offers {
  @include reset-list;

  display: grid;
  gap: 20px;
}

@media (min-width: $tablet-width) {
  .offers {
    gap: 30px;
  }
}

@media (min-width: $desktop-width) {
  .offers {
    max-width: 1220px;
    margin: 0 auto;
    gap: 30px 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.offers__item {
  display: flex;
  flex-direction: column;
  padding: 21px 0 18px;
  background-color: $basic-light;
}

@media (min-width: $tablet-width) {
  .offers__item {
    min-height: 372px;
    padding: 77px 316px 53px 52px;
    background-image: url("@img/icons/icons.svg#cat-sitting");
    background-position: top 81px right 62px;
    background-repeat: no-repeat;
    background-size: 200px 211px;
  }

  .offers__item--walking {
    background-image: url("@img/icons/icons.svg#cat-walking");
    background-position: top 91px right 28px;
    background-size: 268px 200px;
  }
}

@media (min-width: $desktop-width) {
  .offers__item {
    padding: 0;
    padding-bottom: 55px;
    background-image: none;
  }
}


.offers__title {
  padding: 9px 7.14% 7px 91px;
  margin: 0;
  margin-bottom: 22px;
  background-image: url("@img/icons/icons.svg#cat-sitting");
  background-position: 22px 0;
  background-repeat: no-repeat;
  background-size: 50px 53px;
  color: #000000;
  font-family: $font-special;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  .offers__item--walking & {
    background-image: url("@img/icons/icons.svg#cat-walking");
    background-position: 13px 3px;
    background-size: 67px 50px;
  }
}

@media (min-width: $tablet-width) {
  .offers__title,
  .offers__item--walking .offers__title {
    padding: 0;
    margin-bottom: 24px;
    background-image: none;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .offers__title,
  .offers__item--walking .offers__title {
    padding-top: 77px;
    padding-right: 52px;
    padding-bottom: 34px;
    padding-left: 214px;
    margin-bottom: 39px;
    background-image: url("@img/icons/icons.svg#cat-sitting");
    background-position: 52px 41px;
    background-size: 100px 106px;
  }

  .offers__item--walking .offers__title {
    background-image: url("@img/icons/icons.svg#cat-walking");
    background-position: 33px 47px;
    background-size: 134px 100px;
  }
}

.offers__inner {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .offers__inner {
    padding: 0;
  }
}

.offers__text {
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .offers__text {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .offers__text {
    padding: 0 52px;
    margin-bottom: 23px;
  }
}

.offers__link {
  position: relative;
  align-self: flex-start;
  padding: 4px 47px 4px 20px;
  color: #000000;
  font-family: $font-special;
  font-size: 16px;
  line-height: 1;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;


  &::before,
  svg {
    position: absolute;
    top: 50%;
    content: "";
    transform: translateY(-50%);
    transition: right 0.3s;
  }

  &::before {
    right: 15px;
    left: calc(100% - 15px - 17px);
    height: 2px;
    background-color: #000000;
  }

  svg {
    right: 8px;
    width: 7px;
    height: 12px;
  }
}


@media (min-width: $tablet-width) {
  .offers__link {
    padding-right: 57px;
    padding-left: 0;
    margin-top: auto;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .offers__link {
    padding-right: 60px;
    margin: auto 52px 0;
  }
}

.offers__link:hover {
  &::before {
    right: 6px;
  }

  svg {
    right: 0;
  }
}

.offers__link:focus {
  color: $status-success;

  &::before {
    right: 6px;
    background-color: $status-success;
  }

  svg {
    right: 0;
  }
}


.offers__link:active {
  color: #000000;
  opacity: 0.3;

  &::before {
    background-color: #000000;
  }
}
