block variables

doctype html
html.no-js(lang="ru")
  head
    meta(charset="UTF-8")
    title #{pageTitle}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/style.min.css")

    link(rel="icon" href="favicon.ico")
    link(rel="icon" href="favicons/favicon.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="favicons/180.png")
    link(rel="manifest" href="manifest.webmanifest")
    -if(isDev)
      include pixel-glass


  body
    .wrapper
      block header
        include ./includes/header

      block content

      block footer
        include ./includes/footer

    block scripts
      script(src="js/app.min.js")

    .modal-overlay(style="display: none")

    //- .modal.modal--error
    //-   b.modal__title ЧТО-ТО ПОШЛО #[br.after-tablet] НЕ ТАК!
    //-   p.modal__message Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить
    //-   button.modal__button.button(type="button") OK

    .modal.modal--success
      b.modal__title Ваш отзыв отправлен!
      p.modal__message Спасибо за ваше участие, ваш отзыв уже поступил к нам. В ближайшее время мы опубликуем его на сайте.
      .modal__bg
        button.modal__button.button(type="button") OK