extends ../layout.pug


block variables
  -
    const pageTitle = 'Главная'
    const activeHref = 'index.html'
    const introTitle = 'Седона — небольшой <br class="before-tablet"> городок в Аризоне,<br class="after-tablet"> заслуживающий большего!';
    const introText = 'Рассмотрим 5 причин, по которым Седона круче, чем гранд каньон!';


block content
  main.content
    include ../includes/reasons
    include ../includes/search
    .map