extends ../layout.pug


block variables
  -
    const pageTitle = 'Главная'
    const activeHref = 'index.html'


block content
  main.content
    include ../includes/reasons
    include ../includes/search