html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: flex;
  min-width: $mobile-width;
  height: 100%;
  flex-direction: column;
  margin: 0;
  color: $special-dark;
  font-family: $font-basic;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
