/*** COLORS ***/
$basic-spring: #68b738;
$basic-light: #f2f2f2;
$basic-neutral: #ebebeb;
$special-light: #cdcdcd;
$special-neutral: #666666;
$special-dark: #444444;
$special-darker: #222222;
$status-error: #ff8282;
$status-success: #5eaa2f;

/*** FONTS ***/
$font-basic: "Arial", sans-serif;
$font-special: "Oswald", sans-serif;

/*** MEDIA ***/
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
